# Ignore everything except for white-listed files and folders
*

# White-list
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
logs
__pycache__

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
